body {
    text-align: center;
    background-position: center;
}
.background-1 {
    background-image: url('../images/background-1.png');
}
.background-2 {
    background-image: url('../images/background-2.png');
}
.background-3 {
    background-image: url('../images/background-3.png');
}
.background-4 {
    background-image: url('../images/background-4.png');
}
